<%= raw(Picky::Helper.cached_interface) %>


<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Author</th>
    <th>Isbn</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.subtitle %></td>
    <td><%= book.author %></td>
    <td><%= book.isbn %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
<script>
$(window).load(function() {
  pickyClient = new PickyClient({
    full: '/books/search'  ,
    live: '/books/search' ,
    fullResults: 50,         // Default is 20.
    liveResults: 50,         // Default is 0.
    liveRendered: true,      // Render live results as if they were full ones.
    liveSearchInterval: 166, // Time between keystrokes before it sends the query.
    searchOnEmpty: true,     // Search even when the query field is empty.

    explanations: {
      en:{
        title:     'titled',
        author:    'written by'
      }
    }  
  });
});
</script>
